@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
*{
    margin: 0 auto;
    font-family: 'JetBrains Mono', monospace;
}
header{
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px 0px;
    z-index: 1;
    background-image: linear-gradient(to right,#434343, #000000);
    color: white;
}
.container{
    margin-top: 8%;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    flex-wrap: wrap;
}
.modulo{
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 20%;
    background-color: #dee9ee;
}
.modulo button{
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 20%;
    background-image: linear-gradient(to right, #c33764, #1d2671);
    color: #ffffff;
    font-size: larger;
    cursor: pointer;
    outline: none;
}
.modulo button:hover{
    opacity: 0.7;
}